html {
  scroll-behavior: smooth;
}

#btn-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
}

#btn-up:hover {
  background-color: #555;
}